<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8"></meta>
<link rel="stylesheet" href="css/bootstrap.css" />
<link rel="stylesheet" href="css/stars.css" />
<title>Puzzle</title>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-6">
				<a href='/puzzle'>New game</a>
			</div>
			<div class="col-6"></div>
		</div>

		<div class="row">

			<div class="col-4">
				<p th:utext='${puzzleController.render()}' />
				<p th:utext='${puzzleController.message}' />
				<br />
				<div class="rating">
<a href='/rating?Rating=1'>☆</a>
<a href='/rating?Rating=2'>☆</a>
<a href='/rating?Rating=3'>☆</a>
<a href='/rating?Rating=4'>☆</a>
<a href='/rating?Rating=5'>☆</a>
				</div>
				<p id="ratingP" th:utext='${puzzleController.getAvgRating()}' />
			</div>
			<div class="col-4">

				<p>Top 10 skóre</p>
				<hr/>
				<table id="score_table">
					<tr id="IdTr4">
						<th>Login</th>
						<th>Skóre</th>
					</tr>
					<tr th:each="score : ${scores}">
						<td th:text='${score.username}' />
						<td th:text='${score.value}' />
					</tr>
				</table>
				<hr/>

			</div>


			<div class="col-4">
			<p>Komentáre</p>
			<hr/>
				<table id="comment_table">
					<tr id="IdTr3">
						<th>Login</th>
						<th>Comment</th>
						<th>Date</th>
					</tr>
					<tr th:each="comment : ${comments}">
						<td th:text='${comment.username}' />
						<td th:text='${comment.content}' />
						<td th:text='${comment.createdOn}' />
					</tr>
				</table>
				<hr/>
				<br />
				<form action="/comment" method="post">
					<label>Pridaj komentár <input type="text" name="newComment"
						placeholder="Zadaj komentár ku hre" />
					</label>
					<button type="submit" id="SaveComment">Poslať</button>
				</form>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<br /> <br />
			</div>
		</div>
		<div class="row">
			<div class="col-3"></div>
			<div class="col-6">
				<a href='http://localhost:8080/'>späť na hlavnú stránku</a>
			</div>
			<div class="col-3"></div>
		</div>
		<div class="row">
			<div class="col-3">
				<hr />
			</div>
			<div class="col-6" th:replace="footer::nice_footer"></div>
			<div class="col-3">
				<hr />
			</div>
		</div>
	</div>
</body>
</html>