h2 {
	font-style: italic;
	font-size: larger;
}

body {
	background-color: #ffeafa;
}

body>header {
	border-radius: 1rem;
	padding: 0.5rem;
	text-align: center;
	background-color: magenta;
}

table {
	border: solid;
}

.tablePuzzle td {
	text-align: center;
	border: solid;
	font-size: 5rem;
	width: 20%;
	height: 20%;
}

.tableMines {
	text-align: center;
	border: solid;
	width: 30%;
	height: 30%;
}

.mines_score_table td {
	text-align: center;
	border: solid;
	font-style: italic;
	background-color: white;
}

.puzzle_score_table td {
	text-align: center;
	border: solid;
	font-style: italic;
	background-color: white;
}

.mines_comment_table td {
	text-align: center;
	border: solid;
	font-style: italic;
	background-color: white;
}

.guessNumber_comment_table td {
	text-align: center;
	border: solid;
	font-style: italic;
	background-color: white;
}

.puzzle_comment_table td {
	text-align: center;
	border: solid;
	font-style: italic;
	background-color: white;
}

p {
	font-style: italic;
	font-size: large;
}

th {
	background-color: #c0c0c0 !important;
	border: solid;
}

label {
	border: dotted;
	background-color: #c0c0c0 !important;
}

.puzzle_rating_list {
	font-size: 1.00em;
}

.mines_rating_list {
	font-size: 1.00em;
}

.guessNumber_rating_list {
	font-size: 1.00em; # ratingFormPuzzle { align : center;
	font-size: large;
}

#ratingFormMines {
	align: center;
	font-size: large;
}

#ratingFormGuessNumber {
	align: center;
	font-size: large;
}

main>article {
	background-color: magenta;
	border-radius: 1rem;
	padding: 0.3rem;
	margin-bottom: 1rem;
}

#Intro {
	background-color: magenta;
}

body {
	display: flex;
	flex-direction: column;
}

li {
	flex-grow: 1;
}

body>footer {
	order: 1;
	#
	guessNumberGamePlayTable
	{
}