<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />

<link rel="stylesheet" href="css/bootstrap.css" />
<link rel="stylesheet" href="css/gameStudio.css" />


<title>GuessNumber</title>

</head>
<body>

	<div class="container">
		<div class="row">
			<div class="col-4"></div>
			<div class="col-7">
				<h1>GuessNumber</h1>
			</div>
		</div>


		<div class="row">

			<div class="col-3">
				<a href='/guessNumber'>NEW GAME</a>
			</div>

			<div class="col-6"></div>
			<div class="col-3">
				<a href='/homePage'>HOME PAGE</a>
			</div>
		</div>

	</div>



</body>
</html>