<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<link rel="stylesheet" href="css/bootstrap.css" />
<link rel="stylesheet" href="css/gameStudio.css" />


<title>Index</title>
</head>

<body>

	<header>
		<h1>GameStudioMS</h1>
	</header>
	<br />

	<div class="container">
		<div class="row">
			<div class="col-10"></div>
			<div class="col-2">
				<a href='/login'>Login/Register</a>
			</div>
		</div>

		<div class="row">
			<div class="col-1"></div>
			<div class="col-7">


				<article id="Intro">
					<h2>Welcome to GameScoreMS !!!</h2>

					<p>Dear player. Play our games and get some information about
						your skills, get the best score, write us the comment, put the
						rating to your favorite games and compare yourself with your
						friends. HAVE FUN</p>
				</article>
			</div>
			<div class="col-1"></div>


			<div class="col-3">
				<figure>
					<img src="obr/play.jpg" height="160" title="play" alt="play" />
				</figure>

			</div>
			<br />

		</div>

		<div class="row">
			<div class="col-1"></div>
			<div class="col-10">
				<table>
					<tr>
						<th>Game name</th>
						<th>Best score</th>
						<th>Avg. rating</th>
						<th th:if='${isLogged}'>Favorite</th>
					</tr>
					<tr th:each='gameInfo : ${gameInfos}'>
						<td><a th:href="@{'/' + ${gameInfo.gameName}}">
								<p th:text='${gameInfo.gameName}' />
						</a></td>

						<td
							th:text='${gameInfo.bestScore != null ? gameInfo.bestScore.value + "  " + gameInfo.bestScore.username : ""}' />
						<td
							th:text='${#numbers.formatDecimal(gameInfo.averageRating,1,2)}' />


						<td th:if='${isLogged and gameInfo.favorite}'><img
							src='obr/up.png' width='50' height='50' /></td>
						<td th:if='${isLogged and not gameInfo.favorite}'><img
							src='obr/down.png' width='50' height='50' /></td>
					</tr>
				</table>
				<div class="col-1"></div>

			</div>
		</div>

		<br /> <br />


		<div class="row">

			<div class="col-1"></div>
			<aside>
				<p>Games instructions</p>
				<ul>
					<li><a
						href="http://freeminesweeper.org/help/minehelpinstructions.html"
						target="_blank">Mines Instructions</a></li>

					<li><a
						href="http://instructables.com/id/How-To-Solve-The-15-Puzzle/"
						target="_blank">Puzzle Instructions</a></li>

					<li><a
						href="https://www.mathsisfun.com/games/guess_number.html"
						target="_blank">GuessNumber Instructions</a></li>

				</ul>
			</aside>
		</div>
		<br /> <br />

		<div class="row">
			<div class="col-2"></div>
			<div th:replace="footer::nice_footer"></div>
		</div>

		<br /> <br />



		<div class="row">
			<div class="col-1"></div>
			<div class="col-3">
				<footer>
					Miro Sotak <br /> (c) 2018 <br />
				</footer>
			</div>
		</div>

	</div>
</body>
</html>

