<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1" />
<link rel="stylesheet" href="css/bootstrap.css" />
<link rel="stylesheet" href="css/gameStudio.css" />

<title>Login</title>
</head>
<body>
	<h1>Login</h1>
	<form action="/login" method="post">
		Login: <input type="text" name="Login"
			th:value="${@userController.loggedPlayer?.login}" /><br />
		Password: <input type="password" name="password" /><br /> <input
			type="submit" value="Login" />
	</form>

	<h1>Register</h1>
	<form action="/register" method="post">
		Login: <input type="text" name="Login"
			th:value="${@userController.loggedPlayer?.login}" /><br />
		Password: <input type="password" name="password" /><br /> <input
			type="submit" value="Register" />
	</form>


	<div th:replace="footer::nice_footer" />
</body>
</html>