<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />

<link rel="stylesheet" href="css/bootstrap.css" />
<link rel="stylesheet" href="css/gameStudio.css" />


<title>Mines</title>

</head>
<body>

	<!-- <span th:if='${@userController.Logged}'> -->
	<!-- 			<div class="row"> -->
	<!-- 			<div class="col-3"></div> -->
	<!-- 			<div class="col-9"> -->
	<!-- 			<h6>Favorite games</h6> -->
	<!-- 			</div> -->
	<!-- 				<div class="col-3"></div> -->
	<!-- 				<div class="col-9"> -->
	<!-- 					<table> -->
	<!-- 						<th th:each='favourite : ${favourites}' > -->
	<!-- 						<tr> -->
	<!-- 							<a th:href='${favovorite.game}'><img th:src='${"obr/" + favorite.game + ".jpg" }' width='70' height='70'/> </a> -->
	<!-- 						</tr> -->
	<!-- 						</th> -->
	<!-- 					</table> -->

	<!-- 				</div> -->
	<!-- 			</div> -->
	<!-- 	</span> -->




	<div class="container">
		<div class="row">
			<div class="col-4"></div>
			<div class="col-7">
				<h1>MINES</h1>
			</div>
		</div>


		<div class="row">

			<div class="col-1">
				<a href='/mines'>NEW GAME</a>
			</div>


			<div class="row">
				<div class="col-2"></div>
				<div class="col-2">
					<h2>Favorite game</h2>
				</div>
				<div class="col-2"></div>
				<span th:if='${@userController.logged}'>

					<div class="col-3">
						<a th:if='${minesController.isFavorite()}' href='/minesFavorite'>
							<img src='obr/up.png' width='50' height='50'/> 
						</a>
						<a th:if='${not minesController.isFavorite()}' href='/minesFavorite'>
							<img src='obr/down.png' width='50' height='50'/> 
						</a>
						<form action="/minesFavorite" method="post">
							<label for="minesFavorite"> Is this game your favorite? </label>
							<br /> <select id="minesFavorite" name="newFavorite">
								<option value="1">Favorite</option>
								<option value="2">Not Favorite</option>
							</select>
							<button type="submit" id="saveFavorite">SetFavorite</button>
							
						</form>
					</div>
				</span>
			</div>



			<div class="col-1"></div>
			<div class="col-1">
				<a href='/homePage'>HOME PAGE</a>
			</div>
		</div>



		<div class="row">
			<div class="col-4"></div>
			<div class="col-5">
				<p th:utext='${minesController.render()}' />

				<p th:text='${minesController.message}' />

				<br /> ActionSetTo: <a href='/mines_mark'> <span
					th:if='${minesController.marking}'>Marking</span> <span
					th:if='${not minesController.marking}'>Opening</span>
				</a>
				<br />

			</div>
			<div class="col-3"></div>
		</div>
		<br />



		<div class="row">
			<div class="col-1">
				<h2>Top Scores</h2>
			</div>
			<div class="col-1"></div>

			<div class="col-4">
				<table class='mines_score_table'>
					<tr th:each='score : ${scores}'>
						<td th:text='${score.username}' />
						<td th:text='${score.value}' />
					</tr>
				</table>
				<br /> <br />
			</div>

			<div class="col-1"></div>


			<div class="col-1">
				<h2>Mines Rating</h2>
			</div>
			<div class="col-1"></div>
			<span th:if='${@userController.logged}'>
				<div class="col-3">
					<form action="/minesRating" method="post">
						<label for="minesRating"> Did you like this game? </label> <br />
						<select id="minesRating" name="newRating">
							<option value="1">Awesome</option>
							<option value="2">Nice</option>
							<option value="3">GoodOne</option>
							<option value="4">BoringStaff</option>
							<option value="5">Bullshit</option>
						</select>
						<button type="submit" id="saveRating">SaveRating</button>
					</form>
					<br /> <br />
					<ol class='mines_rating_list'>
						Avg. rating:
						<span th:text='${#numbers.formatDecimal(rating,1,2)}' />
					</ol>
				</div>
			</span>
		</div>

		<br /> <br />

		<div class="row">
			<div class="col-1"></div>
			<div class="col-1">
				<h2>Mines Comment</h2>
			</div>
			<div class="col-1"></div>
			<div class="col-3">
				<span th:if='${@userController.logged}'>
					<form action="/minesComment" method="post">
						<label>Comment <input type="text" name="newComment"
							placeholder="Insert your comment" />
						</label>
						<button type="submit" id="SaveComment">SEND</button>
					</form>
				</span>
			</div>
			<br />

			<div class="col-6">
				<table class='mines_comment_table'>
					<tr th:each='comment : ${comment}'>
						<td th:text='${comment.username}' />
						<td th:text='${comment.content}' />
						<td th:text='${comment.createdOn}' />
					</tr>
				</table>
				<br />
			</div>
			<div class="row">
				<div class="col-2"></div>
				<div th:replace="footer::nice_footer"></div>
			</div>
		</div>


	</div>



</body>
</html>